@charset "UTF-8";
/* Todas as demais médias */

*{
    font-family: 'Courier New', Courier, monospace;
}
 body{
    background-image: url(../imagens/back-print.jpg);
 }

 main{
    width: 90vw;
    border: 2px solid black;
 }

 main::after{
    content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
 }

 main h1{
    text-shadow: none;
    color: black;
 }

 img#phone{display: none;}
 img#tablet{display: none;}
 img#print{display: block;}
 img#pc{display: none;}
 img#tv{display: none;}